**/node_modules
Cargo.lock

index.d.ts
*.node
/target
steam_api64.dll
steam_api64.lib
libsteam_api.dylib
libsteam_api.so

.specstory
**/CLAUDE.local.md
**/CLAUDE.md
**/.windsurfrules
.cursorrules
.cursorindexingignore

steam_appid.txt
docs